/*xs*/
@media (min-width: 320px) and (max-width: 575.98px) {
    /*Nav Section CSS Start*/
#nav{
    background-color: #063d80;
}
.brand img{
    height: 42px;
    width: 142px;
}
.toggle i{
    color: #fff;
    
}

#main_menu ul li a{
    font-weight: bold;
    padding: 13px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}

#main_menu ul li:hover a{
     color: orange;
}
/*//Nav Section CSS End*/
/*Banner Section CSS Start*/
.banner_slide_item{
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    z-index: 1;
    height: 369px;
}
.banner_slide_item::before{
    position: absolute;
    background-color: rgba(124, 106, 106, 0.6);
    inset: 0;
    content: '';
    z-index: -1;
}
.banner_headings{
    margin-top: 52px;
}
.banner_headings span{
    font-size: 36px;
}
.banner_headings h1{
    font-size: 26px;
    color: #fff;
    width: 299px;
}
.banner_headings strong{
    padding: 15px;
}
.banner_paragraph{
    margin-top: 12px;
}
.banner_paragraph p{
    font-size: 13px;
    width: 297px;
    padding: 15px;
    color: #fff;
}
.banner_link{
    margin-top: 2px;
    padding: 15px;
}
.banner_link a{
    font-size: 9px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 8px;
    background-color: #003565;
}
.banner_link:hover a{
    background-color: #0e4781;
}
.banner_slider_dots{
    left: 50%;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    transform: translateX(-50%);
    top: 319px;
}
.banner_slider_dots li{
    line-height: 0;
}
.banner_slider_dots li button{
    margin: 7px;
    transition: all linear 0.5s;
    width: 19px;
    height: 9px;
    border-radius: 9px;
    background-color: #fff;
}
.banner_slider_dots li button:focus{
    outline: none;
    box-shadow: none;
}
.banner_slider_dots li.slick-active button{
    background-color: #003565;
    width: 33px;
}
/*//Banner Section CSS End*/
/*About Section CSS Start*/
.about_heading{
    margin-top: 72px;
}
.about_heading h2{
    font-size: 28px;
    color: #003565;
    font-weight: bold;
    text-transform: uppercase;
}
.about_paragraph{
    margin-top: 7px;
}
.about_paragraph p{
    font-size: 12px;
    width: 100%;
    text-align: justify;
color: #666666;
}
.about_company{
    margin-top: 13px;
}
.about_company p{
    font-weight: bold;
    font-size: 14px;
    color: #063d80;
    text-transform: uppercase;
}
.company_paragraph{
    margin-top:7px;
}
.company_paragraph p{
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    text-align: justify;
}
.company_end_paragraph{
    margin-top: 5px;
}
.company_end_paragraph p{
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    text-align: justify;
}
.about_cold_designs_images{
    margin-top: 22px;
}

.about_cold_designs_images img{
    width: 100%;
}
.about_image{
    position: relative;
    margin: auto;
}

.about_image img{
    height: 242px;
    width: 100%
}
.about_image_overflow{
    position: absolute;
    background-color: rgba(53, 134, 199, 0.6);
  inset: 0;
}
.about_image_overflow_headings{
    margin-top: 72px;
}
.about_image_overflow_headings h3{
    margin: auto;
    font-weight: bold;
    width: 299px;
    color: #fff;
    font-size: 20px;
}
.about_image_overflow_headings_links{
    margin-top: 42px;
}
.about_image_overflow_headings_links a{
    font-size: 13px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 9px;
    background-color: #0e4781;
}
.about_image_overflow_headings_links:hover a{
    background-color: #003565;
}
.overflow_doing{
    position: absolute;
    background-color: rgba(13, 67, 115, 0.6);
    inset: 0;
}    
/*//About Section CSS End*/
/*Services Section CSS Start*/
#services{
    background-image: url(../img/cold-chain-services-1.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 19px;
}
.contact_link{
    margin-top: 32px;
}
.contact_link a{
    font-size: 13px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 9px;
    background-color: #003565;
}
.contact_link:hover a{
    background-color: #0e4781;
}

.services_section_part{
    margin-top: 42px;
}

.services_customs_section{
   margin-top: 20px;
   padding: 0 0;
}

.services_customs_images{
    position: relative;
}
.services_customs_images img{
    height:269px;
    width: 100%;
}
.service_customs_content{
    position: absolute;
    background-color: rgba(124, 106, 106, 0.6);
    inset: 0;
}
.service_customs_headings{
    margin-top: 72px;
}
.service_customs_headings h3{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    z-index: 1;
}
.service_customs_paragraph {
    margin-top: 13px;
}
.service_customs_paragraph p{
    margin: auto;
    width: 198px;
    color: #fff;
    font-size: 13px;
}
.services_customs_link{
    margin-top: 22px;
}
.services_customs_link a {
    font-weight: bold;
    font-size: 13px;
     color: #fff;
     transition: all linear 0.4s;
     cursor: pointer;
}
.services_customs_link:hover i{
    padding-left: 2px;
}
.services_customs_images_overfLow{
    background-color: rgba(28, 116, 182, 0.5);
    transition: all linear 0.5s;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    inset: 0;
}
.services_customs_images:hover .services_customs_images_overfLow{
    opacity: 1;
    visibility: visible;
}
/*Services Section CSS End*/
/*Work Section CSS Start*/
#work{
    background-image: url(../img/industries.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 19px;
}
.providing_written_heading{
    margin-top: 42px;
}
.providing_written_heading h2{
    font-weight: bold;
    width: 100%;
    color: #063d80;
     font-size: 19px;
}
.providing_section_part{
    margin-top: 22px;
}
.providing_written_including_headings h6{
    font-size: 13px;
    width: 100%;
    color: #666666;
}
.providing_written_point{
    margin-top: 22px;
}
.providing_written_point p{
    width: 100%;
    text-align: justify;
    color: #666666;
    font-size: 13px;
}
.providing_written_point p i{
    font-size:9px;
    font-weight: bold;
    color: #000;
}
.providing_written_point p span{
    font-weight: bold;
    transition: all linear 0.5s;
    cursor: pointer;
    color: #003565;
}
.providing_written_point p span:hover{
    display: inline-block;
    color: #063d80;
    border-bottom: 1px solid #063d80;
}
.ingre{
    margin-top: 22px;
}
.providing_image_section{
    margin-top: 12px;
    padding: 0 0;
    cursor: pointer;
}
.providing_image{
    transition: all linear 0.5s;
    position: relative;
 
}
.providing_image_section img{
   width: 100%;
}
.providing_image_overlay{
  position: absolute;
  transition: all linear 0.5s;
    background-color: rgba(13, 67, 115, 0.6);
    visibility: hidden;
    opacity: 0;
    inset: 0;
}
.providing_image:hover .providing_image_overlay{
    opacity: 1;
    visibility: visible;
} 
.providing_image_overlay_headings_contact{
    margin-top: 82px;
}
.providing_image_overlay_headings_contact h1{
    font-size: 16px;
    font-weight: bold;
}
.providing_image_overlay_headings_contact h1 a {
    font-weight: bold;
    text-transform: uppercase;
     color: #fff;
     transition: all linear 0.4s;
     cursor: pointer;
}
.providing_image_overlay_headings_contact h1 i{
    color: #fff;
}
.providing_image_overlay_headings_contact h1:hover i{
    padding-left: 2px;
}

.other_providing{
    margin-top: 12px;
}
.other_providing_content{
    margin-top: -24px;
}
.other_writting{
    margin-top: 15px;
}
/*//Work Section CSS End*/
/*Map[form] Section CSS Start*/
.map{
    position: relative;
}
.form-contact{
    text-align: center;
    margin: auto;
}
.contact_form {
     background-color: rgba(53, 134, 199, 0.6);
    border: 1px solid #c5c3ba;
    width: 299px;
    position: absolute;
    top: 142px;
    border-radius: 8px;
    height: 499px;
    left: 0;
    right: 0;
}
.contact_form_heading h3{
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: bold;
    color: #fff;
    font-size: 36px;
    text-transform: capitalize;
}
.name-form input{
    width: 271px;
    height: 35px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.email-form{
    margin-top: 15px;
}
.email-form input{
    width: 271px;
    height: 35px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.subject-form{
    margin-top: 15px;
}
.subject-form input{
    width: 271px;
    height: 35px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
} 
.message-form {
    margin-top: 15px;
}

.message-form  textarea{
    width: 271px;
    height: 147px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.send {
    margin-top: 20px;
}
.send a{
    background-color: #414042;
    color: #72b3cc;
    border-radius: 5px;
    font-weight: bold;
    padding: 11px 40px;
    font-size: 15px;
}
/*//Map[form] Section CSS End*/
#end{
    background-color: #003565;
}
.end_heading p{
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    padding: 13px;
}
}
/*sm*/
@media (min-width: 576px) and (max-width: 767.98px) {
        /*Nav Section CSS Start*/
#nav{
    background-color: #063d80;
}
.brand img{
    height: 52px;
    width: 152px;
}
.toggle i{
    color: #fff;
    
}

#main_menu ul li a{
    text-align: center;
    padding: 15px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
#main_menu ul li:hover a{
    color: orange;
}
/*//Nav Section CSS End*/
/*Banner Section CSS Start*/
.banner_slide_item{
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    z-index: 1;
    height: 369px;
}
.banner_slide_item::before{
    position: absolute;
    background-color: rgba(124, 106, 106, 0.6);
    inset: 0;
    content: '';
    z-index: -1;
}
.banner_headings{
    margin-top: 52px;
}
.banner_headings span{
    font-size: 36px;
}
.banner_headings h1{
    font-size: 28px;
    color: #fff;
    width: 299px;
}
.banner_headings strong{
    padding: 15px;
}
.banner_paragraph{
    margin-top: 12px;
}
.banner_paragraph p{
    font-size: 13px;
    width: 401px;
    padding: 15px;
    color: #fff;
}
.banner_link{
    margin-top: 2px;
    padding: 15px;
}
.banner_link a{
    font-size: 13px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 13px;
    background-color: #003565;
}
.banner_link:hover a{
    background-color: #0e4781;
}
.banner_slider_dots{
    left: 50%;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    transform: translateX(-50%);
    top: 319px;
}
.banner_slider_dots li{
    line-height: 0;
}
.banner_slider_dots li button{
    margin: 7px;
    transition: all linear 0.5s;
    width: 19px;
    height: 9px;
    border-radius: 9px;
    background-color: #fff;
}
.banner_slider_dots li button:focus{
    outline: none;
    box-shadow: none;
}
.banner_slider_dots li.slick-active button{
    background-color: #003565;
    width: 33px;
}
/*//Banner Section CSS End*/
/*About Section CSS Start*/
.about_heading{
    margin-top: 20px;
}
.about_heading h2{
    font-size: 32px;
    color: #003565;
    font-weight: bold;
    text-transform: uppercase;
}
.about_paragraph{
    margin-top: 7px;
}
.about_paragraph p{
    font-size: 14px;
    width: 100%;
    text-align: justify;
color: #666666;
}
.about_company{
    margin-top: 13px;
}
.about_company p{
    font-weight: bold;
    font-size: 16px;
    color: #063d80;
    text-transform: uppercase;
}
.company_paragraph{
    margin-top:7px;
}
.company_paragraph p{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: justify;
}
.company_end_paragraph{
    margin-top: 5px;
}
.company_end_paragraph p{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: justify;
}
.about_cold_designs_images{
    margin-top: 32px;
}

.about_cold_designs_images img{
    width: 100%;
}
.about_image{
    position: relative;
    margin: auto;
}

.about_image img{
    height: 320px;
    width: 100%
}
.about_image_overflow{
    position: absolute;
    background-color: rgba(53, 134, 199, 0.6);
  inset: 0;
}
.about_image_overflow_headings{
    margin-top: 113px;
}
.about_image_overflow_headings h3{
    font-size: 22px;
    margin: auto;
    font-weight: bold;
    width:384px;
    color: #fff;
    
}
.about_image_overflow_headings_links{
    margin-top: 42px;
}
.about_image_overflow_headings_links a{
    font-size: 15px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 13px;
    background-color: #0e4781;
}
.about_image_overflow_headings_links:hover a{
    background-color: #003565;
}
.overflow_doing{
    position: absolute;
    background-color: rgba(13, 67, 115, 0.6);
    inset: 0;
}    
/*//About Section CSS End*/
/*Services Section CSS Start*/
#services{
    background-image: url(../img/cold-chain-services-1.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
}
.contact_link{
    margin-top: 32px;
}
.contact_link a{
    font-size: 15px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 13px;
    background-color: #003565;
}
.contact_link:hover a{
    background-color: #0e4781;
}
.services_section_part{
    margin-top: 42px;
}

.services_customs_section{
   margin-top: 20px;
   padding: 0 0;
}

.services_customs_images{
    position: relative;
}
.services_customs_images img{
    height:269px;
    width: 100%;
}
.service_customs_content{
    position: absolute;
    background-color: rgba(124, 106, 106, 0.6);
    inset: 0;
}
.service_customs_headings{
    margin-top: 72px;
}
.service_customs_headings h3{
    font-size: 21px;
    color: #fff;
    font-weight: bold;
    z-index: 1;
}
.service_customs_paragraph {
    margin-top: 13px;
}
.service_customs_paragraph p{
    margin: auto;
    width: 248px;
    color: #fff;
    font-size: 15px;
}
.services_customs_link{
    margin-top: 22px;
}
.services_customs_link a {
    font-weight: bold;
     color: #fff;
     transition: all linear 0.4s;
     cursor: pointer;
}
.services_customs_link:hover i{
    padding-left: 2px;
}
.services_customs_images_overfLow{
    background-color: rgba(28, 116, 182, 0.5);
    transition: all linear 0.5s;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    inset: 0;
}
.services_customs_images:hover .services_customs_images_overfLow{
    opacity: 1;
    visibility: visible;
}
/*//Services Section CSS End*/
/*Work Section CSS Start*/
#work{
    background-image: url(../img/industries.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 19px;
}
.providing_written_heading{
    margin-top: 42px;
}
.providing_written_heading h2{
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    color: #063d80;
}
.providing_section_part{
    margin-top: 22px;
}
.providing_written_including_headings h6{
    font-size: 15px;
    width: 100%;
    color: #666666;
}
.providing_written_point{
    margin-top: 22px;
}
.providing_written_point p{
    width: 100%;
    text-align: justify;
    color: #666666;
    font-size: 15px;
}
.providing_written_point p i{
    font-size:13px;
    font-weight: bold;
    color: #000;
}
.providing_written_point p span{
    font-weight: bold;
    transition: all linear 0.5s;
    cursor: pointer;
    color: #003565;
}
.providing_written_point p span:hover{
    display: inline-block;
    color: #063d80;
    border-bottom: 1px solid #063d80;
}
.ingre{
    margin-top: 22px;
}
.providing_image_section{
    margin-top: 12px;
    padding: 0 0;
    cursor: pointer;
}
.providing_image{
    transition: all linear 0.5s;
    position: relative;
 
}
.providing_image_section img{
   width: 100%;
}
.providing_image_overlay{
  position: absolute;
  transition: all linear 0.5s;
    background-color: rgba(13, 67, 115, 0.6);
    visibility: hidden;
    opacity: 0;
    inset: 0;
}
.providing_image:hover .providing_image_overlay{
    opacity: 1;
    visibility: visible;
} 
.providing_image_overlay_headings_contact{
    margin-top: 132px;
}
.providing_image_overlay_headings_contact h1{
    font-size: 18px;
    font-weight: bold;
}
.providing_image_overlay_headings_contact h1 a {
    font-weight: bold;
    text-transform: uppercase;
     color: #fff;
     transition: all linear 0.4s;
     cursor: pointer;
}
.providing_image_overlay_headings_contact h1 i{
    color: #fff;
}
.providing_image_overlay_headings_contact h1:hover i{
    padding-left: 2px;
}

.other_providing{
    margin-top: 12px;
}
.other_providing_content{
    margin-top: -24px;
}
.other_writting{
    margin-top: 15px;
}
/*//Work Section CSS End*/
/*Map[form] Section CSS Start*/
.map{
    position: relative;
}
.form-contact{
    text-align: center;
    margin: auto;
}
.contact_form {
     background-color: rgba(53, 134, 199, 0.6);
    border: 1px solid #c5c3ba;
    width: 299px;
    position: absolute;
    top: 142px;
    border-radius: 8px;
    height: 499px;
    left: 0;
    right: 0;
}
.contact_form_heading h3{
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: bold;
    color: #fff;
    font-size: 36px;
    text-transform: capitalize;
}
.name-form input{
    width: 271px;
    height: 35px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.email-form{
    margin-top: 15px;
}
.email-form input{
    width: 271px;
    height: 35px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.subject-form{
    margin-top: 15px;
}
.subject-form input{
    width: 271px;
    height: 35px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
} 
.message-form {
    margin-top: 15px;
}

.message-form  textarea{
    width: 271px;
    height: 147px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.send {
    margin-top: 20px;
}
.send a{
    background-color: #414042;
    color: #72b3cc;
    border-radius: 5px;
    font-weight: bold;
    padding: 11px 40px;
    font-size: 15px;
}
/*//Map[form] Section CSS End*/
}

/* md */
@media (min-width: 768px) and (max-width: 991.98px) {
            /*Nav Section CSS Start*/
#nav{
    background-color: #063d80;
}
.brand img{
    height: 52px;
    width: 152px;
}
.toggle i{
    color: #fff;
    
}

#main_menu ul li a{
    text-align: center;
    padding: 15px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
#main_menu ul li:hover a{
     color: orange;
}
/*//Nav Section CSS End*/
/*Banner Section CSS Start*/
.banner_slide_item{
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    z-index: 1;
    height: 390px;
}
.banner_slide_item::before{
    position: absolute;
    background-color: rgba(124, 106, 106, 0.6);
    inset: 0;
    content: '';
    z-index: -1;
}
.banner_headings{
    margin-top: 52px;
}
.banner_headings span{
    font-size: 36px;
}
.banner_headings h1{
    font-size: 28px;
    color: #fff;
    width: 299px;
}
.banner_headings strong{
    padding: 15px;
}
.banner_paragraph{
    margin-top: 12px;
}
.banner_paragraph p{
    font-size: 13px;
    width: 401px;
    padding: 15px;
    color: #fff;
}
.banner_link{
    margin-top: 2px;
    padding: 15px;
}
.banner_link a{
    font-size: 13px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 13px;
    background-color: #003565;
}
.banner_link:hover a{
    background-color: #0e4781;
}
.banner_slider_dots{
    left: 50%;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    transform: translateX(-50%);
    top: 319px;
}
.banner_slider_dots li{
    line-height: 0;
}
.banner_slider_dots li button{
    margin: 7px;
    transition: all linear 0.5s;
    width: 19px;
    height: 9px;
    border-radius: 9px;
    background-color: #fff;
}
.banner_slider_dots li button:focus{
    outline: none;
    box-shadow: none;
}
.banner_slider_dots li.slick-active button{
    background-color: #003565;
    width: 33px;
}
/*//Banner Section CSS End*/
/*About Section CSS Start*/
.about_heading{
    margin-top: 20px;
}
.about_heading h2{
    font-size: 32px;
    color: #003565;
    font-weight: bold;
    text-transform: uppercase;
}
.about_paragraph{
    margin-top: 7px;
}
.about_paragraph p{
    font-size: 14px;
    width: 100%;
    text-align: justify;
color: #666666;
}
.about_company{
    margin-top: 13px;
}
.about_company p{
    font-weight: bold;
    font-size: 16px;
    color: #063d80;
    text-transform: uppercase;
}
.company_paragraph{
    margin-top:7px;
}
.company_paragraph p{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: justify;
}
.company_end_paragraph{
    margin-top: 5px;
}
.company_end_paragraph p{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: justify;
}
.about_cold_designs_images{
    margin-top: 32px;
}

.about_cold_designs_images img{
    width: 100%;
}
.about_image{
    position: relative;
    margin: auto;
}

.about_image img{
    height: 320px;
    width: 100%
}
.about_image_overflow{
    position: absolute;
    background-color: rgba(53, 134, 199, 0.6);
  inset: 0;
}
.about_image_overflow_headings{
    margin-top: 113px;
}
.about_image_overflow_headings h3{
    font-size: 22px;
    margin: auto;
    font-weight: bold;
    width:384px;
    color: #fff;
    
}
.about_image_overflow_headings_links{
    margin-top: 42px;
}
.about_image_overflow_headings_links a{
    font-size: 15px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 13px;
    background-color: #0e4781;
}
.about_image_overflow_headings_links:hover a{
    background-color: #003565;
}
.overflow_doing{
    position: absolute;
    background-color: rgba(13, 67, 115, 0.6);
    inset: 0;
}    
/*//About Section CSS End*/
/*Services Section CSS Start*/
.contact_link{
    margin-top: 32px;
}
.contact_link a{
    font-size: 15px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 13px;
    background-color: #003565;
}
.contact_link:hover a{
    background-color: #0e4781;
}
.services_section_part{
    margin-top: 42px;
}

.services_customs_section{
   margin-top: 20px;
   padding: 0 0;
}

.services_customs_images{
    position: relative;
}
.services_customs_images img{
    height:269px;
    width: 100%;
}
.service_customs_content{
    position: absolute;
    background-color: rgba(124, 106, 106, 0.6);
    inset: 0;
}
.service_customs_headings{
    margin-top: 72px;
}
.service_customs_headings h3{
    font-size: 21px;
    color: #fff;
    font-weight: bold;
    z-index: 1;
}
.service_customs_paragraph {
    margin-top: 13px;
}
.service_customs_paragraph p{
    margin: auto;
    width: 248px;
    color: #fff;
    font-size: 15px;
}
.services_customs_link{
    margin-top: 22px;
}
.services_customs_link a {
    font-weight: bold;
     color: #fff;
     transition: all linear 0.4s;
     cursor: pointer;
}
.services_customs_link:hover i{
    padding-left: 2px;
}
.services_customs_images_overfLow{
    background-color: rgba(28, 116, 182, 0.5);
    transition: all linear 0.5s;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    inset: 0;
}
.services_customs_images:hover .services_customs_images_overfLow{
    opacity: 1;
    visibility: visible;
}
/*Services Section CSS End*/
/*Work Section CSS Start*/
#work{
    background-image: url(../img/industries.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 19px;
}
.providing_written_heading{
    margin-top: 42px;
}
.providing_written_heading h2{
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    color: #063d80;
}
.providing_section_part{
    margin-top: 22px;
}
.providing_written_including_headings h6{
    font-size: 15px;
    width: 100%;
    color: #666666;
}
.providing_written_point{
    margin-top: 22px;
}
.providing_written_point p{
    width: 100%;
    text-align: justify;
    color: #666666;
    font-size: 15px;
}
.providing_written_point p i{
    font-size:13px;
    font-weight: bold;
    color: #000;
}
.providing_written_point p span{
    font-weight: bold;
    transition: all linear 0.5s;
    cursor: pointer;
    color: #003565;
}
.providing_written_point p span:hover{
    display: inline-block;
    color: #063d80;
    border-bottom: 1px solid #063d80;
}
.ingre{
    margin-top: 22px;
}
.providing_image_section{
    margin-top: 12px;
    padding: 0 0;
    cursor: pointer;
}
.providing_image{
    transition: all linear 0.5s;
    position: relative;
 
}
.providing_image_section img{
   width: 100%;
}
.providing_image_overlay{
  position: absolute;
  transition: all linear 0.5s;
    background-color: rgba(13, 67, 115, 0.6);
    visibility: hidden;
    opacity: 0;
    inset: 0;
}
.providing_image:hover .providing_image_overlay{
    opacity: 1;
    visibility: visible;
} 
.providing_image_overlay_headings_contact{
    margin-top: 222px;
}
.providing_image_overlay_headings_contact h1{
    font-size: 22px;
    font-weight: bold;
}
.providing_image_overlay_headings_contact h1 a {
    font-weight: bold;
    text-transform: uppercase;
     color: #fff;
     transition: all linear 0.4s;
     cursor: pointer;
}
.providing_image_overlay_headings_contact h1 i{
    color: #fff;
}
.providing_image_overlay_headings_contact h1:hover i{
    padding-left: 2px;
}

.other_providing{
    margin-top: 12px;
}
.other_providing_content{
    margin-top: -24px;
}
.other_writting{
    margin-top: 15px;
}
/*//Work Section CSS End*/
/*Map[form] Section CSS Start*/
.map{
    position: relative;
}
.form-contact{
    text-align: center;
    margin: auto;
}
.contact_form {
     background-color: rgba(53, 134, 199, 0.6);
    border: 1px solid #c5c3ba;
    width: 299px;
    position: absolute;
    top: 142px;
    border-radius: 8px;
    height: 499px;
    left: 0;
    right: 0;
}
.contact_form_heading h3{
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: bold;
    color: #fff;
    font-size: 36px;
    text-transform: capitalize;
}
.name-form input{
    width: 271px;
    height: 35px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.email-form{
    margin-top: 15px;
}
.email-form input{
    width: 271px;
    height: 35px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.subject-form{
    margin-top: 15px;
}
.subject-form input{
    width: 271px;
    height: 35px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
} 
.message-form {
    margin-top: 15px;
}

.message-form  textarea{
    width: 271px;
    height: 147px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.send {
    margin-top: 20px;
}
.send a{
    background-color: #414042;
    color: #72b3cc;
    border-radius: 5px;
    font-weight: bold;
    padding: 11px 40px;
    font-size: 15px;
}
/*//Map[form] Section CSS End*/
}

/*lg*/

@media (min-width: 992px) and (max-width:1199.98px) {
                /*Nav Section CSS Start*/
#nav{
    background-color: #063d80;
}

.brand img{
    height: 52px;
    width: 152px;
}
/*
.toggle i{
    color: #fff;
}
*/
#main_menu ul li a{
    text-align: center;
    padding: 15px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
#main_menu ul li:hover a{
    color: orange;
}
/*//Nav Section CSS End*/
/*Banner Section CSS Start*/
.banner_slide_item{
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    z-index: 1;
    height: 441px;
}
.banner_slide_item::before{
    position: absolute;
    background-color: rgba(124, 106, 106, 0.6);
    inset: 0;
    content: '';
    z-index: -1;
}
.banner_headings{
    margin-top: 52px;
}
.banner_headings span{
    font-size: 42px;
}
.banner_headings h1{
    font-size: 32px;
    color: #fff;
    width: 299px;
}
.banner_headings strong{
    padding: 15px;
}
.banner_paragraph{
    margin-top: 12px;
}
.banner_paragraph p{
    font-size: 16px;
    width: 481px;
    padding: 15px;
    color: #fff;
}
.banner_link{
    margin-top: 20px;
    padding: 15px;
}
.banner_link a{
    font-size: 16px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 13px;
    background-color: #003565;
}
.banner_link:hover a{
    background-color: #0e4781;
}
.banner_slider_dots{
    left: 50%;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    transform: translateX(-50%);
    top: 369px;
}
.banner_slider_dots li{
    line-height: 0;
}
.banner_slider_dots li button{
    margin: 7px;
    transition: all linear 0.5s;
    width: 19px;
    height: 9px;
    border-radius: 9px;
    background-color: #fff;
}
.banner_slider_dots li button:focus{
    outline: none;
    box-shadow: none;
}
.banner_slider_dots li.slick-active button{
    background-color: #003565;
    width: 33px;
}
/*//Banner Section CSS End*/
/*About Section CSS Start*/
.about_heading{
    margin-top: 20px;
}
.about_heading h2{
    font-size: 32px;
    color: #003565;
    font-weight: bold;
    text-transform: uppercase;
}
.about_paragraph{
    margin-top: 7px;
}
.about_paragraph p{
    font-size: 14px;
    width: 100%;
    text-align: justify;
color: #666666;
}
.about_company{
    margin-top: 13px;
}
.about_company p{
    font-weight: bold;
    font-size: 16px;
    color: #063d80;
    text-transform: uppercase;
}
.company_paragraph{
    margin-top:7px;
}
.company_paragraph p{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: justify;
}
.company_end_paragraph{
    margin-top: 5px;
}
.company_end_paragraph p{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: justify;
}
.about_cold_designs_images{
    margin-top: 32px;
}

.about_cold_designs_images img{
    width: 100%;
}
.about_image{
    position: relative;
    margin: auto;
}

.about_image img{
    height: 320px;
    width: 100%
}
.about_image_overflow{
    position: absolute;
    background-color: rgba(53, 134, 199, 0.6);
  inset: 0;
}
.about_image_overflow_headings{
    margin-top: 113px;
}
.about_image_overflow_headings h3{
    font-size: 22px;
    margin: auto;
    font-weight: bold;
    width:384px;
    color: #fff;
    
}
.about_image_overflow_headings_links{
    margin-top: 42px;
}
.about_image_overflow_headings_links a{
    font-size: 15px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 13px;
    background-color: #0e4781;
}
.about_image_overflow_headings_links:hover a{
    background-color: #003565;
}
.overflow_doing{
    position: absolute;
    background-color: rgba(13, 67, 115, 0.6);
    inset: 0;
}    
/*//About Section CSS End*/
/*Services Section CSS Start*/
.contact_link{
    margin-top: 32px;
}
.contact_link a{
    font-size: 20px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 13px;
    background-color: #003565;
}
.contact_link:hover a{
    background-color: #0e4781;
}
.services_section_part{
    margin-top: 42px;
}

.services_customs_section{
   margin:auto;
   padding: 0 8px;
}

.services_customs_images{
    position: relative;
}
.services_customs_images img{
    height:269px;
    width: 100%;
}
.service_customs_content{
    position: absolute;
    background-color: rgba(124, 106, 106, 0.6);
    inset: 0;
}
.service_customs_headings{
    margin-top: 72px;
}
.service_customs_headings h3{
    font-size: 21px;
    color: #fff;
    font-weight: bold;
    z-index: 1;
}
.service_customs_paragraph {
    margin-top: 13px;
}
.service_customs_paragraph p{
    margin: auto;
    width: 248px;
    color: #fff;
    font-size: 15px;
}
.services_customs_link{
    margin-top: 22px;
}
.services_customs_link a {
    font-weight: bold;
     color: #fff;
     transition: all linear 0.4s;
     cursor: pointer;
}
.services_customs_link:hover i{
    padding-left: 2px;
}
.services_customs_images_overfLow{
    background-color: rgba(28, 116, 182, 0.5);
    transition: all linear 0.5s;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    inset: 0;
}
.services_customs_images:hover .services_customs_images_overfLow{
    opacity: 1;
    visibility: visible;
}
/*Services Section CSS End*/
/*Work Section CSS Start*/
#work{
    background-image: url(../img/industries.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 19px;
}
.providing_written_heading{
    margin-top: 42px;
}
.providing_written_heading h2{
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    color: #063d80;
}
.providing_section_part{
    margin-top: 52px;
}
.providing_written_including_headings h6{
    font-size: 15px;
    width: 100%;
    color: #666666;
}
.providing_written_point{
    margin-top: 22px;
}
.providing_written_point p{
    width: 100%;
    text-align: justify;
    color: #666666;
    font-size: 15px;
}
.providing_written_point p i{
    font-size:13px;
    font-weight: bold;
    color: #000;
}
.providing_written_point p span{
    font-weight: bold;
    transition: all linear 0.5s;
    cursor: pointer;
    color: #003565;
}
.providing_written_point p span:hover{
    display: inline-block;
    color: #063d80;
    border-bottom: 1px solid #063d80;
}
.ingre{
    margin-top:-9px;
}
.providing_image_section{
    margin: auto;
    padding: 0 13px;
    cursor: pointer;
}
.providing_image{
    transition: all linear 0.5s;
    position: relative;
 
}
.providing_image_section img{
   width: 100%;
}
.providing_image_overlay{
  position: absolute;
  transition: all linear 0.5s;
    background-color: rgba(13, 67, 115, 0.6);
    visibility: hidden;
    opacity: 0;
    inset: 0;
}
.providing_image:hover .providing_image_overlay{
    opacity: 1;
    visibility: visible;
} 
.providing_image_overlay_headings_contact{
    margin-top: 132px;
}
.providing_image_overlay_headings_contact h1{
    font-size: 18px;
    font-weight: bold;
}
.providing_image_overlay_headings_contact h1 a {
    font-weight: bold;
    text-transform: uppercase;
     color: #fff;
     transition: all linear 0.4s;
     cursor: pointer;
}
.providing_image_overlay_headings_contact h1 i{
    color: #fff;
}
.providing_image_overlay_headings_contact h1:hover i{
    padding-left: 2px;
}

.other_providing{
    margin-top: 12px;
}
.other_providing_content{
    margin-top: -24px;
}

.other_writting{
    margin-top: 78px;
}
/*//Work Section CSS End*/
/*Map[form] Section CSS Start*/
.map{
    position: relative;
}
.form-contact{
    text-align: center;
    margin: auto;
}
.contact_form {
     background-color: rgba(53, 134, 199, 0.6);
    border: 1px solid #c5c3ba;
    width: 299px;
    position: absolute;
    top: 142px;
    border-radius: 8px;
    height: 499px;
    left: 0;
    right: 0;
}
.contact_form_heading h3{
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: bold;
    color: #fff;
    font-size: 36px;
    text-transform: capitalize;
}
.name-form input{
    width: 271px;
    height: 35px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.email-form{
    margin-top: 15px;
}
.email-form input{
    width: 271px;
    height: 35px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.subject-form{
    margin-top: 15px;
}
.subject-form input{
    width: 271px;
    height: 35px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
} 
.message-form {
    margin-top: 15px;
}

.message-form  textarea{
    width: 271px;
    height: 147px;
    color: #d6d6d6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.send {
    margin-top: 20px;
}
.send a{
    background-color: #414042;
    color: #72b3cc;
    border-radius: 5px;
    font-weight: bold;
    padding: 11px 40px;
    font-size: 15px;
}
/*//Map[form] Section CSS End*/
}
/*xl*/
@media (min-width: 1200px) and (max-width:1399.98px){
    /*Nav Section CSS Start*/
#nav{
    background-color: #063d80;
}
#main_menu ul li a{
    padding: 20px;
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
}
#main_menu ul li:hover a{
    font-weight: bold;
}
/*//Nav Section CSS End*/
/*Banner Section CSS Start*/
.banner_slide_item{
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    z-index: 1;
    height: 700px;
}
.banner_slide_item::before{
    position: absolute;
    background-color: rgba(124, 106, 106, 0.6);
    inset: 0;
    content: '';
    z-index: -1;
}
.banner_headings{
    margin-top: 129px;
}
.banner_headings span{
    font-size: 56px;
}
.banner_headings h1{
    font-size: 42px;
    color: #fff;
    width: 377px;
}
.banner_headings strong{
    padding: 16px;
}
.banner_paragraph{
    margin-top: 32px;
}
.banner_paragraph p{
    font-size: 20px;
    padding: 16px;
    color: #fff;
    width: 615px;
}
.banner_link{
    padding: 16px;
    margin-top: 52px;
}
.banner_link a{
    font-size: 20px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 13px;
    background-color: #003565;
}
.banner_link:hover a{
    background-color: #0e4781;
}
.banner_slider_dots{
    left: 50%;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    transform: translateX(-50%);
    top: 594px;
}
.banner_slider_dots li{
    line-height: 0;
}
.banner_slider_dots li button{
    margin: 13px;
    transition: all linear 0.5s;
    width: 29px;
    height: 9px;
    border-radius: 9px;
    background-color: #fff;
}
.banner_slider_dots li button:focus{
    outline: none;
    box-shadow: none;
}
.banner_slider_dots li.slick-active button{
    background-color: #003565;
    width: 45px;
}
/*//Banner Section CSS End*/
/*About Section CSS Start*/
.about_heading{
    margin-top: 20px;
}
.about_heading h2{
    font-size: 32px;
    color: #003565;
    font-weight: bold;
    text-transform: uppercase;
}
.about_paragraph{
    margin-top: 7px;
}
.about_paragraph p{
    font-size: 14px;
    width: 100%;
    text-align: justify;
color: #666666;
}
.about_company{
    margin-top: 13px;
}
.about_company p{
    font-weight: bold;
    font-size: 16px;
    color: #063d80;
    text-transform: uppercase;
}
.company_paragraph{
    margin-top:7px;
}
.company_paragraph p{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: justify;
}
.company_end_paragraph{
    margin-top: 5px;
}
.company_end_paragraph p{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: justify;
}
.about_cold_designs_images{
    margin-top: 32px;
}

.about_cold_designs_images img{
    width: 100%;
}
.about_image{
    position: relative;
    margin: auto;
}

.about_image img{
    height: 320px;
    width: 100%
}
.about_image_overflow{
    position: absolute;
    background-color: rgba(53, 134, 199, 0.6);
  inset: 0;
}
.about_image_overflow_headings{
    margin-top: 113px;
}
.about_image_overflow_headings h3{
    font-size: 22px;
    margin: auto;
    font-weight: bold;
    width:384px;
    color: #fff;
    
}
.about_image_overflow_headings_links{
    margin-top: 42px;
}
.about_image_overflow_headings_links a{
    font-size: 15px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 13px;
    background-color: #0e4781;
}
.about_image_overflow_headings_links:hover a{
    background-color: #003565;
}
.overflow_doing{
    position: absolute;
    background-color: rgba(13, 67, 115, 0.6);
    inset: 0;
}    
/*//About Section CSS End*/
/*Services Section CSS Start*/
.contact_link{
    margin-top: 32px;
}
.contact_link a{
    font-size: 20px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 13px;
    background-color: #003565;
}
.contact_link:hover a{
    background-color: #0e4781;
}
.services_banner_slide {
    margin-top: 52px;
}
.services_banner{
    position: relative;
    background-size: cover !important;
    z-index: 1;
    background-position: center;
    height: 500px;
}
.services_banner::before{
    position: absolute;
    background-color: rgba(124, 106, 106, 0.6);
    inset: 0;
    content: '';
    z-index: -1;
}
.services_banner_headings{
    margin-top: 172px;
}
.services_banner_headings h3{
    font-size: 32px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
}
.services_banner_border{
    margin-top: 13px;
}
.services_border{
    margin: auto;
    border: 3px solid #fff;
    width: 138px;
   }
.services_banner_paragraph{
    margin-top: 14px;
}
.services_banner_paragraph p{
    margin: auto;
    font-size: 18px;
    color: #fff;
    width: 547px;
}
.services_banner_link{
    margin-top: 52px;
}
.services_banner_link a{
    font-size: 20px;
    font-weight: bold;
    transition: all linear 0.5s;
    color: #fff;
    padding: 13px;
    background-color: #003565;
}
.services_banner_link:hover a{
    background-color: #0e4781;
}
.service_banner_dots{
    left: 50%;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    transform: translateX(-50%);
    top:434px;
}
.service_banner_dots li{
    line-height: 0;
}
.service_banner_dots li button{
    margin: 13px;
    transition: all linear 0.5s;
    width: 29px;
    height: 9px;
    border-radius: 9px;
    background-color: #fff;
}
.service_banner_dots li button:focus{
    outline: none;
    box-shadow: none;
}
.service_banner_dots li.slick-active button{
    background-color: #003565;
    width: 45px;
}
.services_section_part{
    margin-top: 42px;
}

.services_customs_section{
   margin:auto;
   padding: 0 8px;
}

.services_customs_images{
    position: relative;
}
.services_customs_images img{
    height:269px;
    width: 100%;
}
.service_customs_content{
    position: absolute;
    background-color: rgba(124, 106, 106, 0.6);
    inset: 0;
}
.service_customs_headings{
    margin-top: 72px;
}
.service_customs_headings h3{
    font-size: 21px;
    color: #fff;
    font-weight: bold;
    z-index: 1;
}
.service_customs_paragraph {
    margin-top: 13px;
}
.service_customs_paragraph p{
    margin: auto;
    width: 248px;
    color: #fff;
    font-size: 15px;
}
.services_customs_link{
    margin-top: 22px;
}
.services_customs_link a {
    font-weight: bold;
     color: #fff;
     transition: all linear 0.4s;
     cursor: pointer;
}
.services_customs_link:hover i{
    padding-left: 2px;
}
.services_customs_images_overfLow{
    background-color: rgba(28, 116, 182, 0.5);
    transition: all linear 0.5s;
}
/*Services Section CSS End*/
/*Work Section CSS Start*/
#work{
    background-image: url(../img/industries.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 19px;
}
.providing_written_heading{
    margin-top: 42px;
}
.providing_written_heading h2{
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    color: #063d80;
}
.providing_section_part{
    margin-top: 52px;
}
.providing_written_including_headings h6{
    font-size: 15px;
    width: 100%;
    color: #666666;
}
.providing_written_point{
    margin-top: 22px;
}
.providing_written_point p{
    width: 100%;
    text-align: justify;
    color: #666666;
    font-size: 15px;
}
.providing_written_point p i{
    font-size:13px;
    font-weight: bold;
    color: #000;
}
.providing_written_point p span{
    font-weight: bold;
    transition: all linear 0.5s;
    cursor: pointer;
    color: #003565;
}
.providing_written_point p span:hover{
    display: inline-block;
    color: #063d80;
    border-bottom: 1px solid #063d80;
}
.ingre{
    margin-top:-9px;
}
.providing_image_section{
    margin: auto;
    padding: 0 13px;
    cursor: pointer;
}
.providing_image{
    transition: all linear 0.5s;
    position: relative;
 
}
.providing_image_section img{
   width: 100%;
}
.providing_image_overlay{
  position: absolute;
  transition: all linear 0.5s;
    background-color: rgba(13, 67, 115, 0.6);
    visibility: hidden;
    opacity: 0;
    inset: 0;
}
.providing_image:hover .providing_image_overlay{
    opacity: 1;
    visibility: visible;
} 
.providing_image_overlay_headings_contact{
    margin-top: 152px;
}
.providing_image_overlay_headings_contact h1{
    font-size: 18px;
    font-weight: bold;
}
.providing_image_overlay_headings_contact h1 a {
    font-weight: bold;
    text-transform: uppercase;
     color: #fff;
     transition: all linear 0.4s;
     cursor: pointer;
}
.providing_image_overlay_headings_contact h1 i{
    color: #fff;
}
.providing_image_overlay_headings_contact h1:hover i{
    padding-left: 2px;
}

.other_providing{
    margin-top: 22px;
}
.other_providing_content{
    margin-top: -24px;
}
/*
.other_writting{
    margin-top: 78px;
}*/
/*//Work Section CSS End*/
}

/*xxl*/
@media (min-width:1400px) {}